//
// Dropdown
//

@if $enable-dark-mode {
  @include color-mode(dark) {
    .dropdown-menu {
      @include box-shadow($dropdown-box-shadow-dark);
    }
  }
}

.custom-dropdown {
  display: flex;
  justify-content: space-between; /* Aligns icon and arrow */
  align-items: center;
}

.custom-dropdown::after {
  display: inline-block;
  margin-left: 5px; /* Adjust spacing */
  vertical-align: middle;
  border: solid currentColor;
  border-width: 4px 4px 0 4px; /* Adjust arrow size */
  content: "";
  transform: rotate(90deg); /* Rotates arrow left */
}

.custom-dropdown i {
  margin-right: 5px; /* Adjust spacing between icon and arrow */
}
