//
// Nav
//

// Line tabs
.hippo-tab-manager {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #48484859 !important;
}
.hippo-tab {
  // border-radius: 25px;
  text-align: center;
  cursor: pointer;

  transition: all 0.5s ease;
  background-color: white;
  color: rgb(0, 0, 0);
  // color: black;
  border-bottom: 1px solid #48484859;
}
.hippo-selected-tab:hover {
  background-color: hsla(0, 0%, 100%, 0.904);
  color: rgb(0, 0, 0);
}

.hippo-tab-icon {
  color: #03090e;
}

.hippo-tab-icon :hover {
  color: white;
}
.hippo-selected-tab {
  background-color: #08030e;
  color: white;
}

.hippo-tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-line-tabs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--#{$prefix}border-color);

  .nav-item {
    margin-bottom: -1px;

    // Base link
    .nav-link {
      color: var(--#{$prefix}gray-500);
      border: 0;
      border-bottom: 1px solid transparent;
      transition: $transition-link;
      padding: 0.5rem 0;
      margin: 0 1rem;
    }
    .disabled-tab {
      color: gray !important; /* Greyish color for disabled tabs */
      // pointer-events: none; /* Prevent any interaction */
      border-bottom: none !important; /* Remove the white underline */
    }

    // First Item
    &:first-child {
      .nav-link {
        margin-left: 0;
      }
    }

    // Last Item
    &:last-child {
      .nav-link {
        margin-right: 0;
      }
    }
  }

  // Active & Hover States
  .nav-item .nav-link.active,
  .nav-item.show .nav-link,
  .nav-item .nav-link:hover:not(.disabled) {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--#{$prefix}primary);
    transition: $transition-link;
  }

  // 2x Line
  &.nav-line-tabs-2x {
    border-bottom-width: 2px;

    .nav-item {
      margin-bottom: -2px;

      .nav-link {
        border-bottom-width: 2px;
      }
      .disabled-tab {
        color: gray !important; /* Greyish color for disabled tabs */
        // pointer-events: none; /* Prevent any interaction */
        border-bottom: none !important; /* Remove the white underline */
      }
    }

    // Active & Hover States
    .nav-item .nav-link.active,
    .nav-item.show .nav-link,
    .nav-item .nav-link:hover:not(.disabled) {
      border-bottom-width: 2px;
      border-bottom-color: #fff;
    }
  }
  &.nav-line-tabs-2xe {
    border-bottom-width: 2px;

    .nav-item {
      margin-bottom: -2px;

      .nav-link {
        border-bottom-width: 2px;
      }
    }

    // Active & Hover States
    .nav-item .nav-link.active,
    .nav-item.show .nav-link,
    .nav-item .nav-link:hover:not(.disabled) {
      border-bottom-width: 2px;
    }
  }
}
